[Unit]
Description=WebSocket SSH Tunneling Server
After=network.target

[Service]
ExecStart=/usr/local/go/bin/go run /root/go/ws-port80.go
WorkingDirectory=/root/go/ws-port80.go
Restart=always
User=root

[Install]
WantedBy=multi-user.target
