[Unit]
Description=WebSocket SSH Tunneling Server
After=network.target

[Service]
ExecStart=/usr/local/go/bin/go run /path/to/ws-port80.go
WorkingDirectory=/path/to/your/project
Restart=always
User=yourusername

[Install]
WantedBy=multi-user.target
